<div class="row">
  <div class="col-md-6">
    <h3>Día 1</h3>
    <table class="table table-striped">
      <tr> <td>Antes_Del_Curso</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Encuesta pre-taller</a> </td> </tr>
      <tr> <td>15:00</td>  <td>Instalacíon (Opcional)</td> </tr>
      <tr> <td>16:00</td>  <td>FIN de Instalación</td> </tr>
      <tr> <td> <hr /> </td> <td> <hr /> </td> </tr>
      <tr> <td> Curso Inicia Oficialmente: </td> <td>  </td> </tr>
      <tr> <td>16:00</td>  <td>Automatización de tareas con la terminal de Unix</td> </tr>
      <tr> <td>17:30</td>  <td>Break</td> </tr>
      <tr> <td>18:00</td>  <td>Automatización de tareas con la terminal de Unix (Continúa)</td> </tr>
      <tr> <td>19:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Día 2</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td>  <td>Automatización de tareas con la terminal de Unix (Continúa)</td> </tr>
      <tr> <td>17:30</td>  <td>Break</td> </tr>
      <tr> <td>18:00</td>  <td>R para análisis científicos reproducible</td> </tr>
      <tr> <td>19:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Día 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>R para análisis científicos reproducible (Continúa)</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>R para análisis científicos reproducible(Continúa)</td> </tr>
      <tr> <td>13:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Día 4</h3>
      <table class="table table-striped">
        <tr> <td>16:00</td>  <td>Tutoría (5toPisoBiología-Oficinas): Herramientas, instalación y datos (Opcional)</td> </tr>
        <tr> <td>18:00</td>  <td>Cierre</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Día 5</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td>  <td>El control de versiones con Git</td> </tr>
      <tr> <td>17:30</td>  <td>Break</td> </tr>
      <tr> <td>18:00</td>  <td>Pseudocode para análisis de datos </td> </tr>
      <tr> <td>19:00</td>  <td>Cierre</td> </tr>  
      </table>
  </div>
  <div class="col-md-6">
    <h3>Día 6</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td>  <td>Creando scripts para análisis de datos </td> </tr>
      <tr> <td>17:30</td>  <td>Break</td> </tr>
      <tr> <td>18:00</td>  <td>Creando scripts para análisis de datos (Continúa)</td> </tr>
      <tr> <td>19:00</td>  <td>Cierre</td> </tr>    
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Día 7</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Mejoramiento de scripts para análisis de datos</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>11:00</td>  <td>Mejoramiento de scripts para análisis de datos (Continúa)</td> </tr>
       <tr> <td>11:00</td>  <td>Exposición de scripts</td> </tr>
      <tr> <td>13:00</td>  <td>Cierre</td> </tr>  
   </table>
  </div>
</div>






      
      

      
      
